@CHARSET "UTF-8";
.container{
	margin-right:		auto;
	margin-left:		auto;
}
.show-grid [class*="span"]{
	background-color: 	#EEE;
	text-align:			center;
	-webkit-border-radius: 3px;
	border-radius:		3px;
	min-height:			40px;
	line-height:		40px;
}			
.show-grid{
	margin-top:			10px;
}
.show-grid .show-grid [class*="span"]{
	background-color: 	#ccc;			
}
.show-grid .show-grid{
	margin-top:			0px;
}
.icon-chevron-down{	
	opacity:	.25;
}

/*Logs part*/
.logs{
	height: auto;
	background-color: #ddd;
	border-radius: 3px;
	padding: 0 0 0 2px;
}
.logs .log_head, .logs .log_body{	
	/*font-family: 'lucida grande', tahoma, verdana;*/
	font-size: 11px;	
	line-height: 15px;	
}
.logs:hover{
	background-color: #D2D2D2;
}
.log_head, .log_body{
	padding: 2px 3px;
}

.logs .log_head .log_author{							
	font-weight: bold;
}
.log_head .log_time{
	color: gray;
	margin-bottom: 2px;
}

.log_footer{				
	overflow: hidden;
	padding: 3px 3px 4px 3px;	
}
.log_hr{
	margin: 0px;
	color: #ddd;
}
.log_btn{				
	padding: 2px;
}
.log_btn:hover{
	color: #08b;
	background: #fff;
	border-radius: 2px;
	padding: 2px;	
	cursor: pointer;
}

/* Log modals*/
#log_modal{ 	/* override modals width */
	width: 30%;
	left: 65%;
}
#log_modal_body{
	padding: 10px 15px;
}
#log_modal_body .modal_log_time{
	color: gray;
}
#log_modal_body .modal_log_content{
	margin-top: 10px;
}
.modal-footer .icons{
	float: left;
}

.modal-footer i{
	color: #08b;
}



/* Share part */
#logs_form .log_title{
	width: 100%;
}
.hour h4{
	line-height: 40px;
	margin-left: 5px;
}
	
#comment_form{
	width:				inherit !important;	
}
#comment_container{
	display:			none;
}
#comment_box{
	width:				120px;
	
}
.media{
	padding:			10px;
}
.media p{
	text-align:			justify;
}
#share_box{
	margin:				100px 0 50px;
}
#share_box_avatar{
	float:				right;
}
#log_avatar{
	width:				50px;
	height:				auto;
}
.filters{
	padding:			5px 5px;
	float:				left;	
}
.log_nav{
	float:				right;
	padding:			5px 5px;
	
}

/*Logs by month*/
td.today{
	font-weight: bold;
}
div.month_log div{
	overflow: visible;
	text-align: left;	
	padding-left: 3px;
	font-family: "lucida grande", tahoma, verdana;
	font-size: 11px;
	cursor: pointer;	
	width: 200%;	
}
div.month_log div:hover{
	background-color: #fff;	
}
#cal tr td div.month_log{	
	overflow: auto;
	overflow-x: hidden;
	height: inherit;
}

table#cal{
	width: 100%;
	margin-top: 20px;
	border-spacing: 2px;
	border-collapse: separate;
}

#cal tr{
	border-top: solid #ddd 1px;
	border-bottom: solid #ddd 1px;

}

#cal tr td{	
	text-align: center;	
	vertical-align: top;
	width: 14.2857%;		
	background-color: #F2F2F2;
}

#cal tr td:hover{
	background-color: #D2D2D2;
}

#cal tr td div.day{	
	text-align: right;	
	color: #000;
	padding-right: 5px;
}

#cal tr th{	
	text-align: center;	
	color: #00aeef;	
}

#cal tr td.today div{	
	color: #FFF;
	padding-right: 5px;

}
#cal tr td.today{
	background-color: #00aeef;	
}

#cal tr td.premonth, #cal tr td.aftermonth{
	background-color: #D2D2D2;
}


/**Logs carousel**/
#carousel-right, #carousel-left{				
	line-height: 30px;
	height: 40px;
	width: 40px;
	background: #222;
	border-radius: 23px;
	position: absolute;
	text-align: center;
	color: #fff;
	border: solid 3px #08c;
	text-decoration: none;
	opacity: .5;
	font-size: 60px;
	margin-top: 5px;
}
#carousel-right:hover, #carousel-left:hover{
	opacity: .9;
}
.carousel{
	margin-bottom: 10px;
}
