/* 
    Document   : main
    Created on : Jun 8, 2012, 4:48:20 PM
    Author     : rhey
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body{
    font-family: trebuchet ms;
}
a{
    text-decoration: none;
    color: #000000;
}
.header{
    text-align: center;
    margin: 0 auto;
    width: 1024px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.body{
    margin: 0 auto;
    width: 1024px;
    padding-bottom: 20px;
    padding-top: 10px; 
}
.body .smc_forms{
    padding-left: 20px;
}
.menus{
    border: 1px solid #dadada;
    margin: 0 auto;
    width: 1024px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 30px;
}
.menus table{
    position: relative;
    left: 10px;
    height: 50px;
    top: -10px;
     border-spacing: 0px;
}
.menus table td{
    min-width: 100px;
    text-align: center;
}
.menus table td:hover{
    background-color: #f1f1f1;
    font-weight: bold;
}
.footer{
    font-size: 11px;
    text-align: center;
    border: 1px solid #dadada;
    margin: 0 auto;
    width: 1024px;
    padding-bottom: 10px;
    padding-top: 10px;
}
/*
*   play categories
*/
.smc_categories{
/*    border: 1px solid #dadada;*/
    padding-bottom: 20px;
    padding-top: 20px;
}
.smc_categories table{
    width: 900px;
    margin: auto;
}
.smc_categories table .box{
    padding-bottom: 20px;
    padding-top: 20px;
    border: 1px solid #cacaca;
    text-align: center;
}
.smc_categories table .box:hover{
    background-color: #ddd;
}
.activate{
    background-color: #ddd;
}
/*
*   play list songs
*/
.smc_song_list{
    height: 300px;
    min-height: 300px;
}
.smc_song_list .container{
    height: 100%;
}
.smc_song_list .list-container{
    position: relative;
    float: left;
    width:900px;
    height: 100%;
}
.navs{
    position: relative;
    float: left;
    width:60px;
    height: 100%;
}
.smc_song_list .item-container{
    position: relative;
    float: left;
    padding: 5px;
}
.smc_song_list .item{
    border: 1px solid #cacaca;
    height: 120px;
    width: 160px;
}
.smc_song_list .item .song-title{
    padding-left: 10px;
    font-weight: bolder;
    color: #888;
}
.smc_song_list .item .song-artist{
    padding-left: 15px;
    font-size: 11px;
}
.smc_song_list .item .song-ratings{
    padding-left: 15px;
    font-size: 11px;
    background-color: #eee;
    height: 25px;
    padding-top: 10px;
    position: relative;
    top: 47px;
}
/*
*   search box
*/
.smc_search_box{
    width: 300px;
    margin: auto;
    padding: 5px;
}
.smc_search_box input{
    width: 200px;
    height: 30px;
}
.smc_search_box select{
    width: 80px;
    height: 30px;
}
.smc_search_handle{
     width: 280px;
     height: 60px;
     position: relative;
     top: 2px;
}
/*
*   errors
*/
.smc-general-notification{
    text-align: center;
    font-weight: bolder;
    color:red;
}
/*
*   smc-breadcramps
*/
.smc-breadcramps{
    font-size: 12px;
    color: #888;
    width: 900px;
    margin: auto;
}
/*
*   next and prev
*/
.smc-links{
    cursor: pointer;
}
/*
*   viewing song
*/
.smc_song_view{
    
    background-color: #fff;
    border: 1px solid #eee;
    position: fixed;
    min-width: 500px;
    width: 600px;
    height: 100%;
    z-index: 100;
    left: 56%;
    top:0px;
    -webkit-box-shadow:  1px 1px 2px 2px #f8f8f8;
    box-shadow:  1px 1px 2px 2px #f8f8f8;
}
.smc_song_view .song-title{
    width: 90%;
    padding-top: 40px;
    padding-bottom: 10px;
    margin-left: 60px;
}
.smc_song_view .song-title span{
    font-size: 32px;
    font-weight: bolder;
    color: #ddd;
}
.smc_song_view .song-video{
    border: 1px solid #888;
    background-color: #888;
    width: 88%;
    height: 40%;
    margin-left: 60px;
}
.smc_song_view .song-details{
    padding-top: 50px;
    width: 90%;
    margin-left: 60px;
}
.smc_song_view .song-details .label{
    color: #888;
}
.smc_song_view .song-details .value{
    padding-left: 10px;
    font-size: 14px;
    font-weight: bolder;
}
.smc_song_view .toggle_nav_container{
    background-color: #ccc;
    position: absolute;
    width:50px;
    height: 100%;
    top: -1px;
    border-right: 1px solid #f1f1f1;
    cursor: pointer;
}
.smc_song_view .toggle_nav_container:hover{
    background-color: #888;
}
/*
*   product list songs
*/
.smc_product_list{
    height: 200px;
    min-height: 200px;
    padding-left: 100px;
}
.smc_product_list .container{
    height: 100%;
}
.smc_product_list .list-container{
    position: relative;
    float: left;
    width:700px;
    height: 100%;
}
.smc_product_list .item-container{
    position: relative;
    float: left;
    padding: 5px;
}
.smc_product_list .item{
    border: 1px solid #cacaca;
    height: 150px;
    width: 200px;
}
.smc_product_list .item .song-quick-details{
    padding-left: 15px;
    font-size: 11px;
    background-color: #eee;
    height: 25px;
    padding-top: 10px;
    position: relative;
    top: 115px;
}
.smc_product_list .item .song-quick-details .product-price{
    position: relative;
    left: 100px;
}
.smc-category{
    padding: 10px;
    border-bottom: 1px solid #f1f1f1; 
}
.smc-cart{
    padding-top: 20px;
    width:  900px;
    margin:0 auto;
}
.smc-cart .item-container{
    padding:20px;
    border: 1px solid #f1f1f1;
    color: #888;
}
.smc-cart .item-container .price{
    position: absolute;
    left: 800px;
}
.smc-cart .item-container .remove-cart-item{
    position: absolute;
    left: 1000px;
}
.smc-cart .item-container .quantity{
     position: absolute;
    left: 600px;
}
.smc-cart .total-container{
    padding:20px;
    font-weight: bolder;
    color: #888;
}
.smc-cart .total-container .price{
    position: absolute;
    left: 800px;
}

.smc-cart .title{
    font-weight: bold;
    font-size: 24px;
    color: #888;
}
.add-to-cart{
    position: relative;
    top: 5px;
}
.smc-account{
    width: 900px;
    margin: auto;
}
.smc-account .title{
    font-size: 24px;
    font-weight: bolder;
    color: #888;
    padding-bottom: 10px;
    padding-top: 10px;
}
.smc-account .row{
    color: #888;
    border: 1px solid #f1f1f1;
    padding: 5px;
    position: relative;
}
.smc-account .row .value{
    position: absolute;
    left: 200px;
}
.smc-account .row_for_handles{
    padding-top: 10px;
    padding-left: 500px;
}
.smc-account .row_for_handles .handles{
    width: 200px;
}
.smc-account .row .other_attrib{
    position: absolute;
    left: 500px;
    font-size: 12px;
    top: 8px;
}
.smc-account .billing_row{
    height: 40px;
}
.smc-account .siparate{
    height: 5px;
}