@CHARSET "UTF-8";
.container{
	margin-right:		auto;
	margin-left:		auto;
}
.show-grid [class*="span"]{
	background-color: 	#EEE;
	text-align:			center;
	-webkit-border-radius: 3px;
	border-radius:		3px;
	min-height:			40px;
	line-height:		40px;
}			
.show-grid{
	margin-top:			10px;
}
.show-grid .show-grid [class*="span"]{
	background-color: 	#ccc;			
}
.show-grid .show-grid{
	margin-top:			0px;
}
.icon-chevron-right{
	float:		right;
	opacity:	.25;
}
.icon-chevron-down{	
	opacity:	.25;
}
.logs{	
	background-color: 	#DDD;	
	-webkit-border-radius: 3px;
	border-radius:		3px;
	min-height:			25px;		
}
#comment_form{
	width:				inherit !important;	
}
#comment_container{
	display:			none;
}
#comment_box{
	width:				120px;
	
}
.media{
	padding:			10px;
}
.media p{
	text-align:			justify;
}
#share_box{
	margin:				100px 0 50px;
}
#share_box_avatar{
	float:				right;
}
#log_avatar{
	width:				50px;
	height:				auto;
}